<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DefPath" value="D:\H3694\REPOS\iio11300\IIO11300\IIO11300Vktehtavat\Tehtava3c"/>
    <add key="ResDefPath" value="D:\H3694\REPOS\iio11300\IIO11300\IIO11300Vktehtavat\Tehtava3c\result.txt"/>
  </appSettings>
</configuration>